.step-two {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 90%;
  padding: 30px;
  translate: 0px -25px;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: rgba(85, 85, 110, 0.2) 0px 7px 29px 0px;
  .plan-picker {
    width: 100%;
  }
}

@media (min-width: 450px) {
  .step-two {
    box-shadow: none;
    translate: 0px;
    .plan-picker {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 15px;
    }
  }
}
