form {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.step-one {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 70%;
  padding: 30px;
  translate: 0px -25px;
  background-color: var(--white);
  border-radius: 15px;

  div {
    display: flex;
    flex-direction: column;

    .label {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 0.9rem;
        color: var(--strawberry-red);
        font-weight: 500;
        margin: 0;
      }
    }

    label {
      color: var(--marine-blue);
      font-weight: 400;
      margin-top: 20px;
      margin-bottom: 5px;
      font-size: 0.9rem;
    }

    input {
      height: 40px;
      border: none;
      outline: 1px solid var(--light-gray);
      border-radius: 5px;
      padding-left: 15px;
      font-weight: 500;
      font-size: 1rem;
      color: var(--marine-blue);
      font-family: var(--font-family-basic);

      &::placeholder {
        color: var(--cool-gray);
      }
      &:focus {
        outline: 1px solid var(--marine-blue);
      }
    }

    .error {
      outline-color: var(--strawberry-red);
    }
  }
}
