.form {
  height: 80vh;
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--magnolia);

  .form__body {
    background-color: var(--white);
    height: 90%;
    border-radius: 15px;
    translate: 0 -25px;
    padding: 30px;
    display: flex;
    flex-direction: column;

    input {
      font-family: var(--font-family-basic);
    }
  }

  .form__actions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 15px;

    button {
      width: 120px;
      height: 40px;
      color: var(--white);
      background-color: var(--marine-blue);
      border: none;
      border-radius: 5px;
      font-family: var(--font-family-basic);
      font-size: 1rem;
      &:disabled {
        display: none;
      }
      &:hover {
        cursor: pointer;
      }
    }

    .back-button {
      background-color: transparent;
      color: var(--cool-gray);
    }
  }

  h1 {
    margin: 0;
    color: var(--marine-blue);
  }

  p {
    margin-top: 10px;
    margin-bottom: 20px;

    line-height: 1.5em;
    color: var(--cool-gray);
  }
}
