.main {
  width: 100%;
  height: -webkit-fill-available;
  max-height: 100vh;
  background-color: var(--magnolia);
  box-sizing: border-box;
}

@media (min-width: 450px) {
  .main {
    height: 70vh;
    width: 90vw;
    min-width: 500px;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(85, 85, 110, 0.2) 0px 7px 29px 0px;
  }
}
