.sidebar {
  width: 100%;
  height: 20vh;
  background-image: url("../../assets/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  box-sizing: border-box;

  span {
    display: flex;
    place-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: var(--white) 2px solid;
    color: var(--white);
    font-weight: 700;
  }

  .current {
    background-color: var(--light-blue);
    color: var(--purplish-blue);
    border-color: var(--light-blue);
  }
}
